.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e65ff;
  z-index: 1000;
}

.intro-svg {
  width: 70%;
  max-width: 294px; /* Maintain aspect ratio */
  display: block;
  margin: auto;
}

.intro-svg #smile-up,
.intro-svg #eye-to-left,
.intro-svg #eye-to-right,
.intro-svg #bg {
  visibility: hidden;
}
