:root {
  --on: 0;
  --bg: transparent;
  --cord: hsl(var(--primary) / 0.8);
  --stroke: hsl(var(--foreground));
  --shine: hsla(0, 0%, 100%, calc(0.75 - (var(--on) * 0.5)));
  --cap: hsl(var(--primary) / 0.5);
  --filament: hsl(var(--primary));
  --bulb-fill: hsl(var(--primary));
  --bulb-glow: 0 0 24px 6px hsl(var(--primary) / 0.5);
}

.toggle-scene {
  overflow: visible !important;
  height: 80px;
  width: 40px;
  position: relative;
  top: 10px;
  right: -5px;
  z-index: 50;
}

.toggle-scene__cord {
  stroke: var(--cord);
  cursor: grab;
}
.toggle-scene__cord:active {
  cursor: grabbing;
}
.toggle-scene__cord:nth-of-type(1) {
  display: none;
}
.toggle-scene__cord:nth-of-type(2), .toggle-scene__cord:nth-of-type(3), .toggle-scene__cord:nth-of-type(4), .toggle-scene__cord:nth-of-type(5) {
  display: none;
}
.toggle-scene__cord-end {
  stroke: var(--cord);
  fill: var(--cord);
}

.toggle-scene__dummy-cord {
  stroke-width: 6;
  stroke: var(--cord);
}

.bulb__filament {
  stroke: hsl(var(--foreground));
  filter: drop-shadow(0 0 10px hsl(var(--foreground))) drop-shadow(0 0 20px hsl(var(--foreground)));
  opacity: var(--on);
  transition: opacity 0.2s ease-in-out;
}
.bulb__shine {
  stroke: hsl(var(--foreground) / 0.6);
}
.bulb__flash {
  stroke: hsl(var(--primary));
  display: none;
}
.bulb__bulb {
  stroke: var(--stroke);
  fill: var(--bulb-fill);
  filter: drop-shadow(var(--bulb-glow));
  transition: fill 0.2s, filter 0.2s;
}
.bulb__cap {
  fill: hsl(var(--primary) / 0.7);
}
.bulb__cap-shine {
  fill: var(--shine);
}
.bulb__cap-outline {
  stroke: var(--stroke);
}

html.dark {
  --on: 1;
  --bulb-fill: hsl(var(--foreground));
  --bulb-glow: none;
}
