:root {
  --on: 0;
  --bg: transparent;
  --cord: hsl(var(--foreground) / 0.8);
  --stroke: hsl(var(--foreground) / 0.8);
  --shine: hsla(0, 0%, 100%, calc(0.75 - (var(--on) * 0.5)));
  --cap: hsl(var(--foreground) / 0.5);
  --filament: hsl(var(--primary));
}

.toggle-scene {
  overflow: visible !important;
  height: 150px;
  width: 60px;
  position: relative;
  top: -20px;
  right: -10px;
  z-index: 50;
}

.toggle-scene__cord {
  stroke: var(--cord);
  cursor: grab;
}
.toggle-scene__cord:active {
  cursor: grabbing;
}
.toggle-scene__cord:nth-of-type(1) {
  display: none;
}
.toggle-scene__cord:nth-of-type(2), .toggle-scene__cord:nth-of-type(3), .toggle-scene__cord:nth-of-type(4), .toggle-scene__cord:nth-of-type(5) {
  display: none;
}
.toggle-scene__cord-end {
  stroke: var(--cord);
  fill: var(--cord);
}

.toggle-scene__dummy-cord {
  stroke-width: 6;
  stroke: var(--cord);
}

.bulb__filament {
  stroke: var(--filament);
  filter: drop-shadow(0 0 10px hsl(var(--primary))) drop-shadow(0 0 20px hsl(var(--primary)));
  opacity: var(--on);
  transition: opacity 0.2s ease-in-out;
}
.bulb__shine {
  stroke: var(--shine);
}
.bulb__flash {
  stroke: hsl(var(--primary));
  display: none;
}
.bulb__bulb {
  stroke: var(--stroke);
  fill: hsla(var(--primary), calc(0.1 + (0.4 * var(--on))));
  transition: fill 0.2s ease-in-out;
}
.bulb__cap {
  fill: var(--cap);
}
.bulb__cap-shine {
  fill: var(--shine);
}
.bulb__cap-outline {
  stroke: var(--stroke);
}

html.dark {
  --on: 1;
}
